# @license Apache-2.0; ver LICENCIA.txt

PORT=5004
CORS_ORIGIN=http://localhost:5003

# Datos de conexión a la base de datos PostgreSQL
DB_HOST=""
DB_PORT=
DB_NAME=""
DB_USER=""
DB_PASSWORD=""

#Secret KEY de JWT
SECRET_JWT_KEY=""
